RewriteEngine on

Options +FollowSymlinks -Multiviews
Header set Access-Control-Allow-Origin "*"
#AREA ADMIN
#login

RewriteRule ^login/$ /login.php [NC,L]
RewriteRule ^login$ /login.php [NC,L]

RewriteRule ^login_save/$ /login_save.php [NC,L]
RewriteRule ^login_save$ /login_save.php [NC,L]

RewriteRule ^logout/$ /logout.php [NC,L]
RewriteRule ^logout$ /logout.php [NC,L]

RewriteRule ^productos/$ /index.php?vista=productos [NC,L]
RewriteRule ^productos$ /index.php?vista=productos [NC,L]

RewriteRule ^productos/page/([0-9]*)/$ /index.php?vista=productos&currentpage=$1 [NC,L]
RewriteRule ^productos/page/([0-9]*)$ /index.php?vista=productos&currentpage=$1 [NC,L]

RewriteRule ^categorias/$ /index.php?vista=categorias [NC,L]
RewriteRule ^categorias$ /index.php?vista=categorias [NC,L]

RewriteRule ^lineas/$ /index.php?vista=lineas [NC,L]
RewriteRule ^lineas$ /index.php?vista=lineas [NC,L]

RewriteRule ^pedidos/$ /index.php?vista=pedidos [NC,L]
RewriteRule ^pedidos$ /index.php?vista=pedidos [NC,L]

RewriteRule ^clientes/$ /index.php?vista=clientes [NC,L]
RewriteRule ^clientes$ /index.php?vista=clientes [NC,L]





